<label>Name</label>
<input type="text" name="name" value="<%= author.name %>"> <%# When you edit the page you want your author's name to be there while you edit. if you are
to create the author right here name input field will be empty but if you edit name input field will be filled %>